.carousel {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.carousel__item {
  width: 85%;
  height: 300px;
  margin: 20px auto;
}

.carousel__item img {
  height: 100%;
  width: 100%;
}

.leftArrow {
  left: 5px;
  position: absolute;
  top: 40%;
}

.rightArrow {
  right: 5px;
  position: absolute;
  top: 40%;
}

.leftArrow:hover,
.rightArrow:hover {
  transform: scale(1.1);
}
